<div class="ui left fixed vertical menu">
  <div class="header">
    <i class="search icon"></i> Search
  </div>

  <%# f.select :user_type, [['Free account', 'free'], ['Member account', 'member'], ['Admin account', 'admin'], ]%>

  <span class="sidebar topic search">
    <div class="ui dropdown">
      <div class="text">
        Topic
      </div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">
          Jenny Hess
        </div>
        <div class="item">
          Elliot Fu
        </div>
        <div class="item">
          Stevie Feliciano
        </div>
        <div class="item">
          Christian
        </div>
        <div class="item">
          Matt
        </div>
        <div class="item">
          Justen Kitsune
        </div>
      </div>
    </div>
  </span>

  <select class="ui fluid search dropdown" multiple="">
    <option value="">Tags</option>
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
  </select>

</div>
