<h1>Wiki Prototype</h1>

<h2>List of topics:</h2>
<%= link_to "Add topic", new_topic_path %>
<ul>
  <% @topics.each do |topic| %>
    <li>
      <%= link_to topic.name, topic_path(topic.id) %>
      <% if @user.present? %>
        <% if @user.user_type == "admin" %>
          <span> | </span>
          <%= link_to "delete", topic_path(topic.id), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
